SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
DATABASE_URI=sqlite:///build.sqlite3
YOLO_OBJECT_WEIGHTS=yolov8l.pt
YOLO_PLANT_WEIGHTS=best.pt
DETECTION_FOLDER=Detection images
HOST=0.0.0.0
PORT=5000
